body{
    margin:0
}


.conteiner{
  max-width: 1160px;
  margin: 0 auto;
  background-color: #F9F9F9;
}


.box1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 50px;
    padding-bottom: 20px;
    border-bottom: 1px solid #e3e3e3;
}


.box2{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
    gap: 48px;
    font-size: 18px;
    color: black;
    font-family: monospace;
}


.box3{
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
}
.imgbox3{
    display: flex;
    flex-direction: column;
    justify-content: end;    
    height: 500px;
    width: 360px;    
    }
.imgbox3.img1
{
    background-image: url('../IMAGENS/imgs/img1.jpg');
}
.imgbox3.img2
{
    background-image: url('../IMAGENS/imgs/img2.jpg');
}
.imgbox3.img3
{
    background-image: url('../IMAGENS/imgs/img3.png');
}
.txt1-box3{
    padding-left: 25px;
    color:#F9F9F9 
} 
.txt2-box3{
    padding-left: 25px;
    padding-bottom: 60px;
    color:#F9F9F9          
}

.box4{
    display: flex;
    padding-top: 30px;
}
.imgbox4{
    display: flex;
    flex-direction: column;
    justify-content: end;    
    background-image: url('../IMAGENS/imgs/img4.jpg');
    height: 500px;
    width: 100%;
}
.txt1-box4{
    padding-left: 25px;
    color:#F9F9F9 
} 
.txt2-box4{
    padding-left: 25px;
    padding-bottom: 60px;
    color:#F9F9F9;
}



.box5{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    font-family: monospace;
    font-size: 18px;
    padding-bottom: 20px;
    border-bottom: 1px solid #e3e3e3;
}


.box6{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 30px;
    margin-bottom: 30px;
    font-family: monospace;
    font-size: 18px;
    gap: 32px;
}
.box6-2{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.txt1-box6{
    display: flex;
    margin-right: 575px;
}
.txt2-box6{
    display:flex;
    justify-content: end;
    }
